@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
    /* ### Primary */

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    
    /* ### Neutral */
    
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'League Spartan', sans-serif;
    background-image: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-position: right 65vw bottom 88vh, left 40vw top 49vh;
}

main{
    margin: 5rem auto;
    width: 85vw;
    height: 100vh;
}

section{
    margin: 2.5rem 0;
}

section.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5vw;
}

section.top p{
    font-size: 1.25rem;
    color: var(--dark-grayish-magenta);
    margin: 1.75rem 0;
    line-height: 1.75rem;
}

section.top .col.right p{
    margin: 0;
    color: var(--very-dark-magenta);
    line-height: 1rem;
    font-size: 1.1rem;
}

h1{
    color: var(--very-dark-magenta);
    font-size: 4.8vw;
    line-height: 4vw;
}

.col.right{
    margin:  1rem 0;
}

.stars{
    height: 1rem;
}

.rev1, .rev2, .rev3{
    position: relative;
}

.rev1 { left: 1rem;}
.rev2 { left: 3rem;}
.rev3 { left: 5rem;}


p {
    font-size: 1.1rem;
}

figure.review{
    background-color: var(--light-grayish-magenta);
    width: 26rem;
    display: grid;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 1.25rem;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem;
}

article.box{
    display: grid;
    grid-template-columns: 1fr;
}

section.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    position: relative;
}

article.box{
    background-color: var(--very-dark-magenta);
    border-radius: 0.5rem;
    padding: 2rem;
    width: 24vw;
}

article.box img{
    border-radius: 50%;
    display: inline-block;
    width: 2.25rem;
    margin-right: 1rem;
}

article.box .title{
    display: inline-block;
}

article.box h2{
    color: var(--white);
    font-size: 1rem;
}

article.box h3{
    color: var(--soft-pink);
    margin-bottom: 1rem;
    font-size: 1rem;
}

article.box p{
    color: var(--light-grayish-magenta);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
}

.one, .two, .three{
    position: relative;
}

.bottom .one { top: 1rem;}
.bottom .two { top: 2rem;}
.bottom .three { top: 3rem;}


@media (min-width:1700px){
    h1{
        font-size: 5rem;
        line-height: 4rem;
    }

    article.box{
        width: 380px;
    }
}

@media (max-width:1000px){

    body{
        background-position: right 18vw bottom 88vh, left 0vw top 29vh;
    }

    main{
        width: 90vw;
        height: 100%;
        margin: 1.5rem auto 3.5rem;
    }

    .col.right{
        margin: 0rem;
    }

    section.top, section.bottom{
        grid-template-columns: 1fr;
    }

    h1{
        font-size: 3.5rem;
        line-height: 3.5rem;
        text-align: center;
        margin: 2.5rem 0 0 0;
    }

    p{
        text-align: center;
    }

    section.bottom{
        top: 0rem;
        grid-gap: 0.5rem;
        margin-bottom: 2rem;
    }

    figure.review{
        grid-template-columns: 1fr;
        width: 100%;
    }

    .stars{
        text-align: center;
    }

    .rev1, .rev2, .rev3{
        left: 0rem;
    }

    section{
        margin:0.5rem;
    }

    section.top p{
        margin: 1rem 0rem 0rem;
    }

    article.box{
        width: 100%;
    }

    article.box p{
        text-align: left;
    }
}
